@using Claimini.BlazorClient.ApplicationState
@using Claimini.Shared
@page "/customers/add"
@inherits Claimini.BlazorClient.Components.BaseComponent
@inject IApiClient apiClient;
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h1>Add Customer</h1>
<CustomerForm OnSubmit=@AddCustomer />

@functions
{

private async Task<Customer> AddCustomer(Customer customer)
{
    Customer resultCustomer = await apiClient.PostCustomer(customer);
    ActionCreators.SelectCustomer(Store.Dispatch, resultCustomer.Id);
    UriHelper.NavigateTo($"/customers/detail/{resultCustomer.Id}");
    return resultCustomer;
}

}
