@using System
@using System.Threading.Tasks
@using Claimini.BlazorClient.Dto
@page "/customers/add"
@inject IApiClient apiClient;

<h1>Add Customer</h1>
<CustomerForm OnSubmit=AddCustomer />

@functions
{

    private async Task<CustomerDto> AddCustomer(CustomerDto customer)
    {
        var resultCustomer = await apiClient.PostCustomer(customer);
        return resultCustomer;
    }

}
