<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="C# Compiler and StyleCop.Analyzers ruleset" Description="Ruleset to configure the C# Compiler and StyleCop.Analyzers to work best together" ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS0612" Action="Info" />
    <Rule Id="CS0618" Action="Info" />
    <Rule Id="CS1573" Action="None" />
    <Rule Id="CS1591" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1201" Action="None" />
  </Rules>
</RuleSet>
