<li class="nav-item px-3">
    <NavLink class="nav-link" href="@Href">
        <span class="oi @CssClass" aria-hidden="true"></span> @Label
    </NavLink>
    @ChildContent
</li>

@functions
{
    [Parameter]
    private string Href { get; set; } = "";

    [Parameter]
    private string Label { get; set; } = "";

    [Parameter]
    private string CssClass { get; set; } = "";
    
    [Parameter]
    private RenderFragment ChildContent { get; set; }
}
