@using System
@using System.Threading.Tasks
@using Claimini.BlazorClient.ApplicationState
@using Claimini.Shared
@page "/articles/add"
@inherits Claimini.BlazorClient.Components.BaseComponent
@inject IApiClient apiClient;
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h1>Add Customer</h1>
<ArticleForm OnSubmit=AddArticle />

@functions
{

private async Task<Article> AddArticle(Article article)
{
    Article resultArticle = await apiClient.PostArticle(article);
    ActionCreators.SelectArticle(Store.Dispatch, resultArticle.Id);
    UriHelper.NavigateTo($"/articles/detail/{resultArticle.Id}");
    return resultArticle;
}

}
