@page "/"
@inherits Claimini.BlazorClient.Components.BaseComponent

<h1>Welcome to Claimini!</h1>

@if (!State.IsAuthenticated)
{
    <div class="alert alert-warning">Please <NavLink class="navbar-text" href="/users/registration/">Register</NavLink> or <NavLink class="navbar-text" href="/users/login">Login</NavLink></div>
}
