@page "/login"
@using Claimini.Shared
@inject IApiClient apiClient;
@inject HttpClient Http


<div class="container">
    <h1>Log in to Claimini</h1>
    <form>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Email" class="form-control" bind="@Email"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" class="form-control" bind="@Password" />
        </div>
    
        <input type="submit" onclick="@SubmitForm" value="Submit" />
    </form>
</div>

@functions
{

    public string Email { get; set; } = "";
    public string Password { get; set; } = "";
    public string Token { get; set; } = "";

    private async Task SubmitForm()
    {
        var viewModel = new TokenViewModel
        {
            Email = Email,
            Password = Password
        };

        var response = await Http.PostJsonAsync<object>("http://localhost:65366/api/token/login", viewModel);
        Console.WriteLine($"{Email} and {Password}");
        Console.WriteLine(response);
    }

}
