@using System.Threading.Tasks
@using Claimini.BlazorClient.ApplicationState
@using Claimini.Shared
@page "/invoices/add"
@inherits Claimini.BlazorClient.Components.BaseComponent
@inject IApiClient apiClient;
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

@if (State.Customers == null)
{
    <p><em>Loading Customers...</em></p>
}
else
{
    <h1>Create Invoice</h1>
    <InvoiceForm OnSubmit=AddInvoice AvailableCustomers="@State.Customers"/>
}

@functions
{
    protected override async Task OnInitAsync()
    {
        await ActionCreators.LoadCustomers(Store.Dispatch, apiClient);
    }

    private async Task AddInvoice(InvoiceDto invoice)
    {
        //Customer resultCustomer = await apiClient.PostCustomer(invoice);
        //ActionCreators.SelectCustomer(Store.Dispatch, resultCustomer.Id);
        //UriHelper.NavigateTo($"/customers/detail/{resultCustomer.Id}");
        //return resultCustomer;
    }

}
