@using System
@using System.Threading.Tasks
@using Claimini.BlazorClient.ApplicationState
@using Claimini.Shared
@page "/invoices/add"
@inherits Claimini.BlazorClient.Components.BaseComponent
@inject IApiClient apiClient;
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h1>Create Invoice</h1>

@if (State.Customers == null || State.Articles == null)
{
    <p><em>Loading Customers & Articles...</em></p>
}
else
{
    <InvoiceForm OnSubmit=AddInvoice AvailableCustomers="@State.Customers" AvailableArticles="@State.Articles" />
}

@functions
{
protected override async Task OnInitAsync()
{
    await ActionCreators.LoadCustomers(Store.Dispatch, apiClient);
    await ActionCreators.LoadArticles(Store.Dispatch, apiClient);
}

private async Task AddInvoice(InvoiceDto invoice)
{
    if (invoice == null)
    {
        Console.WriteLine("Invoice Add: No invoice given to save!");
        return;
    }
    Console.WriteLine("Invoice Add: This could be the place to implement saving!");

    //Customer resultCustomer = await apiClient.PostCustomer(invoice);
    //ActionCreators.SelectCustomer(Store.Dispatch, resultCustomer.Id);
    //UriHelper.NavigateTo($"/customers/detail/{resultCustomer.Id}");
    //return resultCustomer;
}

}
