@using Claimini.BlazorClient
@using Claimini.Shared
@using Claimini.Shared.Extensions
@using Microsoft.AspNetCore.Blazor.Components
@inherits Claimini.BlazorClient.Components.BaseComponent


@if (AvailableArticles != null)
{
    <table class="table table-hover table-sm table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th class="text-right">Price</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var article in AvailableArticles)
        {
            <tr onclick="@(() =>  OnClickArticle(article))">
                <td>@article.Name</td>
                <td class="text-right">@(article.Price.ToCurrency(Constants.Locale))</td>
            </tr>
        }
        </tbody>
        <tfoot>
        @if (DisplayTotalPrice)
        {
            <tr>
                <td><strong>Total:</strong></td>
                <td class="text-right"><strong>@AvailableArticles.Sum(article => article.Price).ToCurrency(Constants.Locale)</strong></td>
            </tr>
        }
        </tfoot>
    </table>
}


@functions
{

    [Parameter]
    private List<Article> AvailableArticles { get; set; }

    [Parameter]
    private Action<Article> OnSelect { get; set; }

    [Parameter]
    private bool DisplayTotalPrice { get; set; } = true;

    private void OnClickArticle(Article article)
    {
        if (article == null)
        {
            Console.WriteLine("Clicked Article was null");
            return;
        }

        Console.WriteLine($"Invoking OnSelect after clicking on Article {article.Id}:{article.Name} in {this.GetType()}");
        this.OnSelect?.Invoke(article);

        StateHasChanged();
    }
}
