@using System
@using System.Collections.Generic
@using System.Threading.Tasks
@using Claimini.Shared
@using Microsoft.AspNetCore.Blazor.Components
@inherits Claimini.BlazorClient.Components.BaseComponent
@*<div class="form-group">
        <label for="PriceTotal">Created at</label>
        <label type="text" class="form-control" placeholder="Test Street 15" id="PriceTotal" bind="@invoice.StreetAddress" />
    </div>*@
@if (SelectedCustomer != null)
{
    <CustomerComponent Customer=SelectedCustomer />
}
else
{
    <SelectCustomerComponent AvailableCustomers=AvailableCustomers OnCustomerSelected=OnSelectCustomer />
}
<button type="submit" class="btn btn-success" onclick="@Submit">Save</button>

@functions
{
    [Parameter]
    private InvoiceDto invoice { get; set; } = new InvoiceDto();

    [Parameter]
    private Func<InvoiceDto, Task> OnSubmit { get; set; }

    [Parameter]
    private Customer SelectedCustomer { get; set; }

    [Parameter]
    private List<Customer> AvailableCustomers { get; set; }

    private void Submit()
    {
        //Console.WriteLine(invoice.Name + invoice.StreetAddress);
        Task result = this.OnSubmit?.Invoke(invoice);
    }

    private void OnSelectCustomer(Customer customer)
    {
        if (customer == null)
        {
            Console.WriteLine($"Invoice Form: Could not select customer");
            return;
        }

        this.SelectedCustomer = customer;
        StateHasChanged();

        Console.WriteLine($"Invoice Form: Selected customer: {customer.Id} {customer.Name}");
    }
}
