<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">Claimini</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        
        <menuitem Href="/users/registration" Label="Register" CssClass="oi-home"/>
        
        <menuitem Href="/users/login" Label="Login" CssClass="oi-home"/>

        <menuitem Href="/articles" Label="Articles" CssClass="oi-document">
            <menuitem Href="/articles/add" Label="Add" CssClass="oi-plus"/>
        </menuItem>

        <menuitem Href="/customers" Label="Customers" CssClass="oi-people">
            <menuitem Href="/customers/add" Label="Add" CssClass="oi-plus"/>
        </menuItem>

        <menuitem Href="/invoices" Label="Invoices" CssClass="oi-list-rich">
            <menuitem Href="/invoices/add" Label="Add" CssClass="oi-plus"/>
        </menuItem>
        
        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <menuitem Href="/test" Label="Test" CssClass="oi-people"/>
    </ul>
</div>

@functions {
bool collapseNavMenu = true;

void ToggleNavMenu()
{
    collapseNavMenu = !collapseNavMenu;
}
}
